#triangle1{
    height: 0px;
    width: 0px;
    
    border-left: 100px solid  transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #5785db;
     
    position: relative;
    top: 30px;
}
#triangle2{
    height: 0px;
    width: 0px;
    
    border-left: 100px solid  transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #cc4ab0;
     
     
}
#triangle3{
    height: 0px;
    width: 60px;
    
    border-left: 70px solid  transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid #1f2022;
}
section{
    margin-left: 300px;
    width: 200px;
    height: 400px;
    background-color: aquamarine;
}
section >h1{
    margin-left: 30px;
}





 